# Based on:
#     https://cloudnull.io/2019/04/running-services-in-network-name-spaces-with-systemd/

[Unit]
Description=VPN Wireguard Interface
PartOf=namespaced-wireguard-vpn.target
Requires=namespaced-wireguard-vpn-netns.service
After=namespaced-wireguard-vpn-netns.service
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes

EnvironmentFile=/etc/namespaced-wireguard-vpn/namespaced-wireguard-vpn.conf

ExecStart=/usr/sbin/namespaced-wireguard-vpn-interface up
ExecStopPost=/usr/sbin/namespaced-wireguard-vpn-interface down

