# Based on:
#     https://cloudnull.io/2019/04/running-services-in-network-name-spaces-with-systemd/

[Unit]
Description=VPN Network Namespace
PartOf=namespaced-wireguard-vpn.target
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
PrivateNetwork=yes
PrivateMounts=no

Environment=PRIVATE_NETNS_BIND_MOUNT=/proc/self/ns/net
EnvironmentFile=/etc/namespaced-wireguard-vpn/namespaced-wireguard-vpn.conf

ExecStart=/usr/sbin/namespaced-wireguard-vpn-netns up
ExecStopPost=/usr/sbin/namespaced-wireguard-vpn-netns down

