[Unit]
Description=VPN Tunnel Veth Interface
PartOf=namespaced-wireguard-vpn.target
Requires=namespaced-wireguard-vpn-netns.service
After=namespaced-wireguard-vpn-netns.service

[Service]
Type=oneshot
RemainAfterExit=yes

EnvironmentFile=/etc/namespaced-wireguard-vpn/namespaced-wireguard-vpn.conf

ExecCondition=/usr/bin/test "$TUNNEL_ENABLE" -ne 0

ExecStart=/usr/sbin/namespaced-wireguard-vpn-tunnel up
ExecStopPost=/usr/sbin/namespaced-wireguard-vpn-tunnel down

